
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Video Background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Header */
.main-header {
  text-align: center;
  color: #fff;
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  z-index: 1;
  
}

.another-div {
  display: flex;
  margin-left: 4vw;
  align-items: center;
}

.navbar .logo h1 {
  font-size: 2.5em;
  font-family: 'Georgia', serif;
  color: #f4d03f;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 170px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.nav-links a:hover {
  color: #f4d03f;
}


/* Highlight color on hover */
.cart-icon:hover {
  color: #f4d03f; 
}


  body {
    font-family: 'Times New Roman', serif;
    height: 100%;
    overflow-x: hidden;
  }
  .blog-content{
    color: #fff;
  }
  .read-more{
    color: #fff;
  }


#left{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    gap: 2vh;
}
#left img{
    width: 60vw;
}
#right span{
  color: #f4d03f;
  font-size: 20px;
}
#right{
    display: flex;
    width: 20%;
    flex-direction: column;
    background-color: #3221019f;
    border-radius: 20px;
    gap: 4vh;
    color: black;
    align-items: center;
    padding-top: 50px;
}
#right a{
    color: rgb(21, 21, 21);
}
#right ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 4vh;
    color: white;
}
#right img{
    width: 100px;
}
#right li{
    display: flex;
    gap: 2vh;
    background-color: white;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}
#right ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.blogContainer{
    
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    background-color: #060606;
}
.blog-content{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: rgb(6, 6, 6);
    height: 100%;
    padding: 20px;
}
.blog-content h1{
  color:#f4d03f;
}
.blog-content h2{
  color:#f4d03f;
}
.read-more{
    width: 6vw;
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
}
.read-more:hover{
    color: blue;
    cursor: pointer;
}

/*search bar*/
.search {
  border-radius: 2rem;
  border: 1px solid black;
  height: 2em;
  text-align: center;
}
i {
  height: 10px;
  width: 20px;
}
/* Cart Icon Styling */
.cart-icon {
  color: #fff;
  padding: 20px;
  display: felx;
  align-items: center;
}

/* Footer Styles */
.footer {
  background-color: #201501;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  
}

.footer-container {
  max-width: 1200px;  
  margin: 0 auto;
}

.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.footer-info {
  font-size: 1.1em;
  margin-top: 20px;
}

/*social icon*/
.social-media {
  margin-top: 20px;
}

.social-icon {
  font-size: 1.5em;
  color: #fff;
  margin: 0 10px;
}

.social-icon:hover {
  color: #f4d03f;
}